amqp==2.6.1
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
awscli==1.19.22
beautifulsoup4==4.9.3
billiard==3.6.3.0
botocore==1.20.22
celery==4.4.7
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.3
comtypes==1.1.8
Counter==1.0.0
cryptography==3.3.1
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-allauth==0.44.0
django-celery-beat==2.2.0
django-celery-results==2.0.1
django-cors-headers==3.6.0
django-crontab==0.7.1
django-filter==2.4.0
django-heroku==0.3.1
django-money==1.3.1
django-phone-field==1.8.1
django-qr-code==2.1.0
django-rest-auth==0.9.5
django-rest-passwordreset==1.1.0
django-simple-history==2.12.0
django-timezone-field==4.1.1
djangorestframework==3.12.2
docutils==0.15.2
filelock==3.0.12
gunicorn==20.0.4
html2text==2020.1.16
idna==2.10
isort==5.7.0
jmespath==0.10.0
kombu==4.6.11
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.20.1
oauthlib==3.1.0
pandas==1.2.1
Pillow==8.0.1
psycopg2==2.8.6
py-moneyed==0.8.0
pyasn1==0.4.8
pycparser==2.20

pylint==2.6.0

pypng==0.0.20
PyQRCode==1.2.1
python-crontab==2.5.1
python-dateutil==2.8.1
python3-openid==3.2.0
pyttsx3==2.90


PyYAML==5.4.1
qrcode==6.1
razorpay==1.2.0
redis==3.5.3
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.3.4
segno==1.3.1
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
vine==1.3.0
virtualenv==20.4.2
whitenoise==5.2.0
wrapt==1.12.1
