{% extends 'core/base.html' %}
{% load static %}
{% block content%}
<div class="mt-5">
<h1 class=" text-warning mb-5 border-bottom  font">SERVICES</h1>
        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                  <i class="fas fa-search-dollar fa-2x mb-3 icon-color"></i>
                  <h3>SEO</h3>
                  <p class="p-color"> SEO stands for “search engine optimization.” In simple terms, it means the process of improving your site to increase its visibility for relevant searches.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fas fa-palette fa-2x mb-3 icon-color"></i>
                  <h3>Web Design</h3>
                  <p class="p-color"> Web design is important because it impacts how your audience perceives your brand.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fas fa-code fa-2x mb-3 icon-color"></i>
                  <h3>Web Development</h3>
                  <p class="p-color"> Website development is the key to making those things happen. ... Website development is a way to make people aware of the services and/or products you are offering.....</p>
            </div>

        </div>
         <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                  <i class="fab fa-apple fa-2x mb-3 icon-color"></i>
                  <h3>IOS</h3>
                  <p class="p-color"> Flutter is a new way to build UIs for mobile, but it has a plugin system to communicate with iOS (and Android) for non-UI tasks.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fas fa-ad fa-2x mb-3 icon-color"></i>
                  <h3>advertising</h3>
                  <p class="p-color"> Digital advertising allows you to reach your audience on the go, wherever they are, whenever they are onlne.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fas fa-pencil-alt fa-2x mb-3 icon-color"></i>
                  <h3>Logo Design</h3>
                  <p class="p-color"> A logo is a combination of text and imagery that tells people the name of your small business and creates a visual symbol that represents your vision.</p>
            </div>

        </div> <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                  <i class="fas fa-database fa-2x mb-3 icon-color"></i>
                  <h3>hosting</h3>
                  <p class="p-color">Hoisting is JS's default behavior of defining all the declarations at the top of the scope before code execution.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fas fa-headset fa-2x mb-3 icon-color"></i>
                  <h3>Support</h3>
                  <p class="p-color">It's important to support your company data with reliable backup systems and top of the line cybersecurity.</p>
            </div>
            <div class="col-sm-4">
                  <i class="fab fa-android  fa-2x mb-3 icon-color"></i>
                  <h3>Andorid</h3>
                  <p class="p-color">Flutter is a free and open source Google mobile UI framework that provides a fast and expressive way for developers to build native apps on both IOS and Android. ... .</p>
            </div>

        </div>
 </div>


{% endblock content %}
