{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom font">Contact Us</h1>
    <div class="row text-white mb-5">
    <p class="mx-auto mb-5 font">
    Do you have any question? please do not hesitate to contact,
     I will come back to you within a matter of hours to help you</p>
    <div class="col-sm-9 mb-5">
    <form action="" method="POST">{% csrf_token %}
    <div class="form row">
    <div class="form-group col-md-6 ">
       <label for="inputName">Your Name</label>
       <input type="text" class="form-control" id="inputname" name="name"/>
    </div>
    <div class="form-group col-md-6">
        <label for="inputEmail ">Your Email *</label>
       <input type="email" class="form-control" id="inputemail" name="email" required />
    </div>
  </div>
  <div class="form-group ">
        <label for="inputSubject">Your Subject *</label>
       <textarea class="form-control" id="inpuTextArea" name="subject" required /></textarea>
    </div>
      <div class="mb-3 ">
        <label for="inputTextArea">Your message *</label>
       <textarea class="form-control" id="inpuTextArea" name="message" required /></textarea>
    </div>
    <button class="btn btn-primary font" type="submit">send</button>
    </form>
    </div>
    <div class="col-sm-3 text-center">
    <ul class="list-unstyled">
    <li>
    <i class="fas fa-map-marker-alt fa-2x icon-color "></i>
    <p class="font">Rishikesh,uttrakhand,india</p>
    </li>
     <li>
    <i class="fas fa-phone  mt-4 fa-2x icon-color "></i>
    <p class="font">+91-9634218506</p>
    </li>
     <li>
    <i class="fas fa-envelope mt-4 fa-2x icon-color "></i>
    <p class="font">brijeshrajbhar366@gmail.com</p>
    </li>
    </ul>
    </div>
    </div>
    </div>
<div class="text-center">
<a href="#" target="_blank"><i class="fab fa-twitter icon-color mr-3"></i></a>
<a href="#" target="_blank"><i class="fab fa-instagram icon-color mr-3"></i></a>
<a href="#" target="_blank"><i class="fab fa-facebook-f icon-color mr-3"></i></a>
<a href="#" target="_blank"><i class="fab fa-dribbble icon-color mr-3"></i></a>
</div>
    {% endblock content %}